<!DOCTYPE html>
<html lang="en">

<head>
	<title> Fetch Rewards </title>
	<style>
		body {
		  text-align: center;
		}
	</style>
</head>
<body>
	<h1> Fetch Rewards </h1>
	<p> Accepts a list of email addresses and returns the number of unique email addresses. </p>
	<p> Simply separate emails with a comma and space as follows: </p>
	<p> test.email@gmail.com, test.email+spam@gmail.com, testemail@gmail.com </p>
	<form action="" method="post">
  		<input type="text" name="emails" placeholder="Emails" required /> <br>
  		<input type="submit" value="submit"/>
	</form>
	<p> Number of unique emails: {{ count }} </p>
</body>
</html> 